h1 {
    font-family: "Raleway";
    font-weight: 500;
    margin: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}



.navbar {
    display:flex;
    justify-content: center;
}


.links {
    text-decoration: none;
    color: brown;
    margin: 20px;
}


.header {
    background: navy;
    color: lightblue;
    padding: 10px 20px;
}

.footer {
    text-align: center;
}


.title {
    margin-bottom: 20px;
}

.post-card {
    text-align: left;
    font-family: "Raleway";
    border: 2px solid lightblue;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.post-card figure {
    max-width: 600px;
    margin: 1em 0;
}

.post-card img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social {
    display: flex;
    justify-content: space-between;
}